<form name="loginForm" ng-submit="submitCredentials()">

	<div class="row new-task-row">
		<div class="col-lg-1">
			<h4>Login</h4>
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-6">
			<p><b><em>Hint</em></b>: Use username: <em>test</em>, password: <em>test</em> if you want to try the app without registering</p>
		</div>
	</div>

	<div class="row new-task-row">
		<div class="col-lg-1">Username</div>
		<div class="col-lg-2">
			<input class="new-task-align" type="text"
				ng-model="credentials.username">
		</div>
	</div>

	<div class="row new-task-row">
		<div class="col-lg-1">Password</div>
		<div class="col-lg-2">
			<input class="new-task-align" type="password" ng-model="password"
				ng-change="updateEncodedPassword()">
		</div>
	</div>

	<div class="row new-task-row">
		<div class="col-lg-1">
			<input type="submit" id="submit" value="Login" />
		</div>
	</div>

	

	<div class="row new-task-row">
		<div class="col-lg-3">
		<hr/>
			You don't have an account? Register <a href="#/register">here</a>
		</div>
	</div>
	

</form>


