<form name="registerForm">

	<div class="row new-task-row">
		<div class="col-lg-1">Username</div>
		<div class="col-lg-2">
			<input class="new-task-align" type="text" ng-model="newUser.userName">
		</div>
	</div>

	<div class="row new-task-row">
		<div class="col-lg-1">Password</div>
		<div class="col-lg-2">
			<input class="new-task-align" type="password" ng-model="password">
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1">Retype Password</div>
		<div class="col-lg-2">
			<input class="new-task-align" type="password" ng-model="passwordRetype">
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1">Name</div>
		<div class="col-lg-2">
			<input class="new-task-align" type="password" ng-model="newUser.name">
		</div>
	</div>

	<div class="row new-task-row">
		<div class="col-lg-1">
			<input type="submit" id="submit" value="Submit" />
		</div>
	</div>
</form>