<form name="registerForm" ng-submit="submit()">

	<div class="row new-task-row">
		<div class="col-lg-3">
			<p>Please provide the following information</p>
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1">Username</div>
		<div class="col-lg-3">
			<input class="input-form-align" name="username" type="text" ng-model="newUser.username" required>
		</div>
		<div class="col-lg-2">
			<div ng-show="registerForm.username.$error.required">
       			 <p style="color:red">Field required!</p>
       		</div>
		</div>
	</div>

	<div class="row new-task-row">
		<div class="col-lg-1">Password</div>
		<div class="col-lg-3">
			<input class="input-form-align" name="password" type="password" ng-model="password" equals="{{passwordRetype}}" required>
		</div>
		<div class="col-lg-2">
			<div ng-show="registerForm.password.$error.required">
       			 <p style="color:red">Field required!</p>
       		</div>
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1">Retype Password</div>
		<div class="col-lg-3">
			<input class="input-form-align" name="passwordRetype" type="password" ng-model="passwordRetype" equals="{{password}}" required>
		</div>
		<div class="col-lg-2">
			<div ng-show="registerForm.passwordRetype.$error.required">
       			 <p style="color:red">Field required!</p>
       		</div>
       		<div ng-show="registerForm.passwordRetype.$error.equals">
       			 <p style="color:red">Passwords are not equal!</p>
       		</div>
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1">Email</div>
		<div class="col-lg-3">
			<input name="email" class="input-form-align" type="text" ng-model="newUser.email" required>
		</div>
		<div class="col-lg-2">
			<div ng-show="registerForm.email.$error.required">
       			 <p style="color:red">Field required!</p>
       		</div>
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1">Name</div>
		<div class="col-lg-3">
			<input name="name" class="input-form-align" type="text" ng-model="newUser.name" required>
		</div>
		<div class="col-lg-2">
			<div ng-show="registerForm.name.$error.required">
       			 <p style="color:red">Field required!</p>
       		</div>
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1">Surname</div>
		<div class="col-lg-3">
			<input class="input-form-align" name="surname" type="text" ng-model="newUser.surname" required>
		</div>
		<div class="col-lg-2">
			<div ng-show="registerForm.surname.$error.required">
       			 <p style="color:red">Field required!</p>
       		</div>
		</div>
	</div>

	<div class="row new-task-row">
		<div class="col-lg-1">
			<input type="submit" id="submit" value="Register" ng-disabled="!registerForm.$valid"/>
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-3">
		<hr/>
			Already have an account? Login <a href="#/login">here</a>
		</div>
	</div>
	
	
</form>