<form name="editTaskForm" ng-submit="submit()">
		
	<div class="row new-task-row">
		<div class="col-lg-1">Priority</div>
		<div class="col-lg-2">
			<select class="new-task-align" ng-model="priority" ng-change="update()" ng-options="priority.name for priority in priorities">
			</select>
		</div>	
	</div>
	
	  
	<div class="row new-task-row">
		<div class="col-lg-1">Task Summary  </div>
		<div class="col-lg-2">
			<textarea class="new-task-align" name="task.statusComment"  ng-model="task.statusComment" >
			</textarea>
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1">Percent Completed</div>
		<div class="col-lg-2"> 
			<input class="new-task-align" type="number" ng-model="percentCompleted" ng-change="update()" min="0" max="100">
		</div>
	</div>
	
	<div class="row new-task-row">
		<div class="col-lg-1"><input type="submit" id="submit" value="Edit" /></div>
	</div> 
	 
	</form>