<!doctype html>
<html lang="en" ng-app="dailyAgendaApp">
<head>
<meta charset="utf-8">
<title>Daily Agenda</title>

<link rel="stylesheet" href="css/bootstrap.css">
<link href="css/bootstrap.css.map">

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>

<script src="js/application.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/services.js"></script>

<script src="js/jquery/jquery.js"></script>
<script src="js/bootstrap/bootstrap.js"></script>
<script src="js/cryptojs/md5.js"></script>
</head>

<body>
	<div class="row" ng-controller="MainController">
		<div class="col-lg-10">
			<div>
				<h3>Daily Agenda</h3>
				<p>Version: 0.0.7 BETA</p>
				<div ng-if="isLoggedIn()">
					<a href="#/" ng-click="logout($event)">logout</a>
				</div>

			</div>
		</div>
	</div>
	<hr />
	
	<div class="alert alert-success alert-dismissible alert-success hidden" role="alert">
 		<button type="button" class="close" data-dismiss="alert">
 			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
 		</button>
 		<strong id="msg">Placeholder message<!--  Task successfully deleted--></strong>
	</div>
	
	
	<div ng-view></div>
	<footer>
		<hr />
		<p>Created by: Andrei Cristian Geacar</p>
		<p>
			Contact information: <a href="mailto:andrei.geacar@gmail.com">
				andrei.geacar@gmail.com</a>.
		</p>
	</footer>
</body>

</html>
